
* {
  font-family: sans-serif; /*default font-family for*/
  margin: 0; /*normalize any browser-specific margins*/
  padding: 0; /*normalize any browser-specific padding*/
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

img {
  width: 100%;
}

h2 {
  margin-bottom: 25px;
  margin-top: 25px;
}

form {
  text-align: center;
}

.color-picker-div {
  text-align: center;
}

input {
  text-align: center;
  height: 25px;
}

#colorPicker {
  width: 100px;
  height: 50px;
}

#footer {
  height: 150px;
}

.upper-background {
  background-image: url("src/color-background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.upper-container {
  margin-bottom: 0px;
}

.image-container {
  /*The image should be wrapped in a DIV in order for this to work*/
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.lower-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.outer-canvas {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
